
.MuiInput-root.titleInput::before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.MuiInput-root.titleInput::after {
  border-bottom: 1px solid #1976d2;
}

.MuiInput-root.titleInput:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid hsla(0, 0%, 28%, 0.87);
}

.titleInput {
  padding: 6px;
}
.titleInput input::placeholder {
  color: #999;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .titleInput input {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .titleInput input {
    font-size: 1rem;
  }
}
